body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background: #00316b;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background: tomato;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    color: #fff;
    font-size: 30px;
    box-sizing: border-box;
    display: none;

}

@media (max-width: 768px) {
    .toggle {
        display: block;
    }
    ul {
        width: 100%;
    }
    ul li {
        display: block;
        text-align: center;
    }
}
